/* Styles for the general looks for the Curve theme.
------------------------------------------------------- */

/* Normal, standard links. */
a:link, a:visited
{
	color: #0074AE;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
	cursor: pointer;
}

/* Links that open in a new window. */
a.new_win:link, a.new_win:visited
{
	color: #0074AE;
	text-decoration: none;
}
a.new_win:hover
{
	text-decoration: underline;
}

/* Tables should show empty cells. */
table
{
	empty-cells: show;
	border-collapse: separate;
	border-spacing: 0;
}

/* Set a fontsize that will look the same in all browsers. */
body
{
	//background: #E9EEF2;
	background: url(/img/bright_squares.png) repeat 0 0;
	font: 78%/130% "Verdana", "Arial", "Helvetica", sans-serif;
	margin: 0;
	padding: 0;
}

/* Help popups require a different styling of the body element. */
body#help_popup
{
	padding: 1em;
}

/* use dark grey for the text, leaving #000 for headers etc */
body, td, th, tr
{
	color: #444;
}

/* This division wraps the entire forum when a forum width is set. */
div#wrapper
{
	margin: -100px auto 0;
	min-width: 764px;
	max-width: 2300px;
}

/* lets give all forms zero padding/margins */
form
{
	padding: 0;
	margin: 0;
}

/* We can style the different types of input buttons to be uniform throughout different browsers and their color themes.
	.button_submit - covers input[type=submit], input[type=button], button[type=submit] and button[type=button] in all browsers
	.button_reset  - covers input[type=reset] and button[type=reset] throughout all browsers
	.input_check   - covers input[type=checkbox] throughout all browsers
	.input_radio   - covers input[type=radio] throughout all browsers
	.input_text    - covers input[type=text] throughout all browsers
	.input_file    - covers input[type=file] throughout all browsers
*/

input, button, select, textarea
{
	font: 95%/115% verdana, Helvetica, sans-serif;
	color: #444;
	background: #fcfcfc;
	border: 1px solid #86aacc;
	padding: 2px;
	border-radius: 2px;
}

input
{
	height: 15px;
}

/* Select elements look horrible with the extra padding, so leave them unpadded. */
select
{
	padding: 0;
}

/* Add some padding to the options instead. */
select option
{
	padding: 1px;
}

/* The font size of textareas should be just a little bit larger. */
textarea
{
	font: 100%/130% verdana, Helvetica, sans-serif;
}

/* Buttons should be styled a bit differently, in order to make them look more button'ish. */
.button_submit, .button_reset
{
	background-color: #2797d1;
	border: 1px solid #21668d;
	box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
	transition: all 0.3s ease-in-out 0.3s;
	padding: 5px;
	border-radius: 3px;
	cursor: pointer;
	font-weight: normal;
	height: auto !important;
}
input:hover, textarea:hover, button:hover, select:hover
{
	border: 1px solid #454545;
}
.button_submit:hover, .button_reset:hover
{
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
input:focus, textarea:focus, button:focus, select:focus
{
	border: 1px solid #454545;
}

/* All input elements that are checkboxes or radio buttons shouldn't have a border around them. */
input.input_check, input.input_radio
{
	border: none;
	background: none;
}
h3.catbg input.input_check
{
	margin: 9px 7px 0 7px;
}

/* Give disabled text input elements a different background color. */
input[disabled].input_text
{
	background-color: #eee;
}

/* Standard horizontal rule.. ([hr], etc.) */
hr, .hrcolor
{
	height: 1px;
	border: 0;
	color: #ccc;
	background-color: #ccc;
}

/* By default set the color on these tags as #000. */
h1, h2, h3, h4, h5, h6
{
	color: #000;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

/* Fieldsets are used to group elements. */
fieldset
{
	border: 1px solid #c4c4c4;
	padding: 1em;
	margin: 0 0 0.5em 0;
}
fieldset legend
{
	font-weight: bold;
	color: #444;
}
/* No image should have a border when linked. */
a img
{
	border: 0;
}

/* Define strong as bold, and em as italics */
strong
{
	font-weight: bold;
}

em
{
	font-style: italic;
}
/* Alternative for u tag */
.underline
{
	text-decoration: underline;
}

/* Common classes to easy styling.
------------------------------------------------------- */

.floatright
{
	float: right;
}
.floatleft
{
	float: left;
}

.flow_auto
{
	overflow: auto;
}
.flow_hidden
{
	overflow: hidden;
}
.flow_hidden .windowbg, .flow_hidden .windowbg2
{
	margin-top: 2px;
}
.clear
{
	clear: both;
}
.clear_left
{
	clear: left;
}
.clear_right
{
	clear: right;
}

/* Default font sizes: small (8pt), normal (10pt), and large (14pt). */
.smalltext, tr.smalltext th
{
	font-size: 0.85em;
	font-family: verdana, sans-serif;
}
.middletext
{
	font-size: 0.9em;
	line-height: 1em;
	font-family: verdana, sans-serif;
}
.normaltext
{
	font-size: 1em;
	line-height: 1.2em;
}
.largetext
{
	font-size: 1.4em;
}
.centertext
{
	margin: 0 auto;
	text-align: center;
}
.righttext
{
	margin-left: auto;
	margin-right: 0;
	text-align: right;
}
.lefttext
{
	margin-left: 0;
	margin-right: auto;
	text-align: left;
}
.double_height
{
	line-height: 2em;
}
/* some common padding styles */
.padding
{
	padding: 0.7em;
}
.main_section, .lower_padding
{
	padding-bottom: 0.5em;
}
/* a quick reset list class. */
ul.reset, ul.reset li
{
	padding: 0;
	margin: 0;
	list-style: none;
}

/* Some BBC related styles.
------------------------------------------------------- */

/* A quote, perhaps from another post. */
blockquote.bbc_standard_quote, blockquote.bbc_alternate_quote
{
	font-size: x-small;
	color: #000;
	line-height: 1.4em;
	background: url(../images/theme/quote.png) 0.1em 0.1em no-repeat;
	border-top: 2px solid #99A;
	border-bottom: 2px solid #99A;
	padding: 1.1em 1.4em;
	margin: 0.1em 0 0.3em 0;
	overflow: auto;
}

/* Alterate blockquote stylings */
blockquote.bbc_standard_quote
{
	background-color: #d7daec;
}
blockquote.bbc_alternate_quote
{
	background-color: #e7eafc;
}

/* A code block - maybe PHP ;). */
code.bbc_code
{
	display: block;
	font-family: "dejavu sans mono", "monaco", "lucida console", "courier new", monospace;
	font-size: x-small;
	background: #eef;
	border-top: 2px solid #999;
	border-bottom: 2px solid #999;
	line-height: 1.5em;
	padding: 3px 1em;
	overflow: auto;
	white-space: nowrap;
	/* Show a scrollbar after about 24 lines. */
	max-height: 24em;
}

/* The "Quote:" and "Code:" header parts... */
.codeheader, .quoteheader
{
	color: #666;
	font-size: x-small;
	font-weight: bold;
	padding: 0 0.3em;
}

/* For links to change the code stuff... */
.codeoperation
{
	font-weight: normal;
}

/* Styling for BBC tags */
.bbc_link:link, .bbc_link:visited
{
	border-bottom: 1px solid #A8B6CF;
}
.bbc_link:hover
{
	text-decoration: none;
	border-bottom: 1px solid #346;
}
.bbc_size
{
	line-height: 1.4em;
}
.bbc_color a
{
	color: inherit;
}
.bbc_img
{
	border: 0;
}
.bbc_table
{
	font: inherit;
	color: inherit;
}
.bbc_table td
{
	font: inherit;
	color: inherit;
	vertical-align: top;
}
.bbc_u
{
	text-decoration: underline;
}
.bbc_list
{
	text-align: left;
}
.bbc_tt
{
	font-family: "dejavu sans mono", "monaco", "lucida console", "courier new", monospace;
}

/* Generally, those [?] icons.  This makes your cursor a help icon. */
.help
{
	cursor: help;
}

/* /me uses this a lot. (emote, try typing /me in a post.) */
.meaction
{
	color: red;
}

/* Highlighted text - such as search results. */
.highlight
{
	font-weight: bold;
	color: #ff7200 !important;
	font-size: 1.1em;
}

/* A more discreet highlight color, for selected membergroups etc. */
.highlight2
{
	background-color: #D1E1EF;
	color: #000 !important;
}

/* Generic, mostly color-related, classes.
------------------------------------------------------- */

.titlebg, .titlebg2, tr.titlebg th, tr.titlebg td, tr.titlebg2 td
{
	color: #555;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
	font-family: arial, helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #d0dbe0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d0dbe0));
	background: -webkit-linear-gradient(top, #ffffff 0%,#d0dbe0 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#d0dbe0 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#d0dbe0 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#d0dbe0 100%);
	box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset;
	border-color: #d0d0d0;
	border-width: 1px 0;
	border-style: solid;
}
.catbg, .catbg2, tr.catbg td, tr.catbg2 td, tr.catbg th, tr.catbg2 th
{
	color: #ededed;
	text-shadow: 0 1px 0 rgba(0,0,0,0.6);
	font-family: arial, helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	background: #0099e5;
	background: -moz-linear-gradient(top, #0099e5 30%, #0074ad 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#0099e5), color-stop(100%,#0074ad));
	background: -webkit-linear-gradient(top, #0099e5 30%,#0074ad 100%);
	background: -o-linear-gradient(top, #0099e5 30%,#0074ad 100%);
	background: -ms-linear-gradient(top, #0099e5 30%,#0074ad 100%);
	background: linear-gradient(to bottom, #0099e5 30%,#0074ad 100%);
	box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset;
	border-color: #005580;
	border-width: 1px 0;
	border-style: solid;
}

/* adjust the table versions of headers */
tr.titlebg th, tr.titlebg2 th, td.titlebg, td.titlebg2, tr.catbg th, tr.catbg2 th, td.catbg, td.catbg2
{
	padding: 0 6px;
}
tr.titlebg th a:link, tr.titlebg th a:visited, tr.titlebg2 td a:link, tr.titlebg2 td a:visited
{
	color: #555;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}
tr.catbg th a:link, tr.catbg th a:visited, tr.catbg2 td a:link, tr.catbg2 td a:visited
{
	color: #ededed;
	text-shadow: 0 1px 0 rgba(0,0,0,0.6);
}
.catbg select
{
	height: 1.5em;
	font-size: 0.85em;
}

/* Alternating backgrounds for posts, and several other sections of the forum. */
.windowbg, #preview_body
{
	color: #444;
	background-color: #ecf6fb;
	border: 1px solid rgba(0, 85, 128, 0.2);
}
.windowbg2
{
	color: #444;
	background-color: #ecf6fb;
	border: 1px solid rgba(0, 85, 128, 0.2);
}
.windowbg3
{
	color: #444;
	background-color: #ecf6fb;
	border: 1px solid rgba(0, 85, 128, 0.2);
}

/* the page navigation area */
.pagesection
{
	font-size: 0.9em;
	padding: 0.2em;
	overflow: hidden;
	margin-bottom: 1px;
}
div.pagesection div.floatright input
{
	margin-top: 3px;
}

.pagelinks
{
    background-color: rgba(214, 239, 247, 0.2);
	border-radius: 2px;
    float: left;
    height: 25px;
    line-height: 25px;
    padding: 0 3px;
}

.pagelinks a:hover
{
	text-decoration: none;
}
.pagelinks > strong
{
	background-color: rgba(0, 153, 229, 1);
	color: #eee;
	padding: 4px;
	margin: 0 1px;
}
a.navPages, .pagelinks > a > strong
{
	background-color: rgba(0, 153, 229, 0.4);
	color: #eee;
	padding: 4px;
	margin: 0 1px;
}
a.navPages:hover, .pagelinks > a > strong:hover
{
	background-color: rgba(0, 153, 229, 0.8);
	text-decoration: none;
	color: #fff;
}

/* Colors for background of posts requiring approval */
.approvebg
{
	color: #000;
	background-color: #ffeaea;
}
.approvebg2
{
	color: #000;
	background-color: #fff2f2;
}

/* Color for background of *topics* requiring approval */
.approvetbg
{
	color: #000;
	background-color: #e4a17c;
}
.approvetbg2
{
	color: #000;
	background-color: #f3bd9f;
}

/* Sticky topics get a different background */
.stickybg
{
	background: #e8dfcf;
}
.stickybg2
{
	background: #e8dfcf;
}

/* Locked posts get a different shade, too! */
.lockedbg
{
	background: #cfdde8;
	font-style: italic;
}
.lockedbg2
{
	background: #cfdde8;
	font-style: italic;
}

/* Posts and personal messages displayed throughout the forum. */
.post, .personalmessage
{
	overflow: auto;
	line-height: 1.4em;
	padding: 0.1em 0;
}

/* All the signatures used in the forum.  If your forum users use Mozilla, Opera, or Safari, you might add max-height here ;). */
.signature, .attachments
{
	width: 98%;
	overflow: auto;
	clear: right;
	padding: 1em 0 3px 0;
	border-top: 1px solid #aaa;
	line-height: 1.4em;
	font-size: 0.85em;
}
.custom_fields_above_signature
{
	width: 98%;
	clear: right;
	padding: 1em 0 3px 0;
	border-top: 1px solid #aaa;
	line-height: 1.4em;
	font-size: 0.85em;
}

/* Sometimes there will be an error when you post */
.error
{
	color: red;
}

/* Messages that somehow need to attract the attention. */
.alert
{
	color: red;
}

/* Calendar colors for birthdays, events and holidays */
.birthday
{
	color: #920ac4;
}

.event
{
	color: #078907;
}

.holiday
{
	color: #000080;
}

/* Colors for warnings */
.warn_mute
{
	color: red;
}

.warn_moderate
{
	color: #ffa500;
}

.warn_watch, .success
{
	color: green;
}

a.moderation_link, a.moderation_link:visited
{
	color: red;
	font-weight: bold;
}

.openid_login
{
	background: white url(../images/openid.gif) no-repeat;
	padding-left: 18px;
}

/* a descriptive style */
.description, .description_board, .plainbox
{
	padding: 0.5em 1em;
	font-size: 0.9em;
	line-height: 1.4em;
	border: 1px solid rgba(0, 85, 128, 0.2);
	background-color: rgba(214, 239, 247, 0.5);
	margin: 0.2em 1px 1em 1px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}
.description_board
{
	margin: 1em 1px 0 1px;
}

/* an informative style */
.information
{
	padding: 0.5em 1em;
	font-size: 0.9em;
	line-height: 1.3em;
	border: 1px solid rgba(0, 85, 128, 0.2);
	background-color: rgba(214, 239, 247, 0.5);
	margin: 0.2em 1px 1em 1px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}
.information p
{
	padding: 1em;
	margin: 0;
}
p.para2
{
	padding: 1em 0 3.5em 0;
	margin: 0;
}
/* AJAX notification bar
------------------------------------------------------- */
#ajax_in_progress
{
	background: url(../images/theme/loadingbar.png) repeat-x;
	color: #f96f00;
	text-align: center;
	font-size: 16pt;
	padding: 8px;
	width: 100%;
	height: 66px;
	line-height: 25px;
	position: fixed;
	top: 0;
	left: 0;
}

#ajax_in_progress a
{
	color: orange;
	text-decoration: underline;
	font-size: smaller;
	float: right;
	margin-right: 20px;
}

/* Lists with settings use these a lot.
------------------------------------------------------- */
dl.settings
{
	clear: right;
	overflow: auto;
	margin: 0 0 10px 0;
	padding: 0;
}
dl.settings dt
{
	width: 40%;
	float: left;
	margin: 0 0 10px 0;
	padding: 0;
	clear: both;
}
dl.settings dt.settings_title
{
	width: 100%;
	float: none;
	margin: 0 0 10px 0;
	padding: 5px 0 0 0;
	font-weight: bold;
	clear: both;
}
dl.settings dt.windowbg
{
	width: 98%;
	float: left;
	margin: 0 0 3px 0;
	padding: 0 0 5px 0;
	clear: both;
}
dl.settings dd
{
	width: 56%;
	float: right;
	overflow: auto;
	margin: 0 0 3px 0;
	padding: 0;
}
dl.settings img
{
	margin: 0 10px 0 0;
}
/* help icons */
dl.settings dt a img
{
	position: relative;
	top: 2px;
}

/* Styles for rounded headers.
------------------------------------------------------- */
h3.catbg, h3.catbg2, h3.titlebg, h4.titlebg, h4.catbg
{
	overflow: hidden;
	height: 31px;
	line-height: 31px;
	font-size: 1.2em;
	font-weight: bold;
}
h3.catbg a:link, h3.catbg a:visited, h4.catbg a:link, h4.catbg a:visited, h3.catbg, .table_list tbody.header td, .table_list tbody.header td a
{
	color: #ededed;
	text-shadow: 0 1px 0 rgba(0,0,0,0.6);
}
h3.catbg2 a, h3.catbg2
{
	color: #feb;
}
h3.catbg a:hover, h4.catbg a:hover, .table_list tbody.header td a:hover
{
	color: #04557e;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
	text-decoration: none;
}
h3.catbg2 a:hover
{
	color: #fff;
	text-decoration: none;
}
h3.titlebg a, h3.titlebg, h4.titlebg, h4.titlebg a
{
	color: #555;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}
h3.titlebg a:hover, h4.titlebg a:hover
{
	color: #53616f;
	text-decoration: none;
}
h3.catbg img.icon, h4.titlebg img.icon
{
	vertical-align: middle;
	margin: -2px 5px 0 0;
}
h4.catbg a.toggle img
{
	vertical-align: middle;
	margin: -2px 5px 0 5px;
}
h4.catbg, h4.catbg2 , h3.catbg , h3.catbg2 , .table_list tbody.header td.catbg
{
	background: #0099e5;
	background: -moz-linear-gradient(top, #0099e5 30%, #0074ad 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#0099e5), color-stop(100%,#0074ad));
	background: -webkit-linear-gradient(top, #0099e5 30%,#0074ad 100%);
	background: -o-linear-gradient(top, #0099e5 30%,#0074ad 100%);
	background: -ms-linear-gradient(top, #0099e5 30%,#0074ad 100%);
	background: linear-gradient(to bottom, #0099e5 30%,#0074ad 100%);
	padding: 0 9px;
}
h4.titlebg, h3.titlebg
{
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #d0dbe0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d0dbe0));
	background: -webkit-linear-gradient(top, #ffffff 0%,#d0dbe0 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#d0dbe0 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#d0dbe0 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#d0dbe0 100%);
	padding: 0 9px;
}
h4.titlebg img.icon
{
	float: left;
	margin: 5px 8px 0 0;
}
div.cat_bar
{
	background: #0099e5;
	background: -moz-linear-gradient(top, #0099e5 30%, #0074ad 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#0099e5), color-stop(100%,#0074ad));
	background: -webkit-linear-gradient(top, #0099e5 30%,#0074ad 100%);
	background: -o-linear-gradient(top, #0099e5 30%,#0074ad 100%);
	background: -ms-linear-gradient(top, #0099e5 30%,#0074ad 100%);
	background: linear-gradient(to bottom, #0099e5 30%,#0074ad 100%);
	border-width: 0 1px 1px;
	border-color: #005580;
	border-style: solid;
	box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	border-radius: 3px 3px 0 0;
	height: 31px;
	overflow: hidden;
}
div.title_bar
{
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #d0dbe0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d0dbe0));
	background: -webkit-linear-gradient(top, #ffffff 0%,#d0dbe0 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#d0dbe0 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#d0dbe0 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#d0dbe0 100%);
	border-width: 0 1px 1px;
	border-color: #d0d0d0;
	border-style: solid;
	box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	border-radius: 3px 3px 0 0;
	height: 31px;
	overflow: hidden;
}

/* rounded bars needs a different background here */

div.title_barIC
{
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #d0dbe0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d0dbe0));
	background: -webkit-linear-gradient(top, #ffffff 0%,#d0dbe0 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#d0dbe0 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#d0dbe0 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#d0dbe0 100%);
	border-width: 0 1px 1px;
	border-color: #d0d0d0;
	border-style: solid;
	box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	border-radius: 3px 3px 0 0;
	height: 31px;
	overflow: hidden;
}
div.title_barIC h4.titlebg
{
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #d0dbe0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d0dbe0));
	background: -webkit-linear-gradient(top, #ffffff 0%,#d0dbe0 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#d0dbe0 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#d0dbe0 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#d0dbe0 100%);
	padding: 0 9px;
}
#upshrinkHeaderIC p.pminfo
{
	margin: 0;
	padding: 0.5em;
}
img#upshrink_ic, img#newsupshrink
{
	float: right;
	margin: 10px 5px 0 0;
}
table.table_list a.unreadlink, table.table_list a.collapse
{
	float: right;
}
table.table_list a.collapse
{
	margin: 7px 5px 0 1em;
	height: 31px;
	line-height: 31px;
}

/* The half-round header bars for some tables. */
.table_grid tr.catbg, .table_grid tr.titlebg
{
	font-size: 0.95em;
}
.table_grid tr.catbg th, .table_grid tr.titlebg th
{
	height: 28px;
	line-height: 28px;
}
tr.catbg th.first_th
{
	background: #0099e5;
	background: -moz-linear-gradient(top, #0099e5 30%, #0074ad 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#0099e5), color-stop(100%,#0074ad));
	background: -webkit-linear-gradient(top, #0099e5 30%,#0074ad 100%);
	background: -o-linear-gradient(top, #0099e5 30%,#0074ad 100%);
	background: -ms-linear-gradient(top, #0099e5 30%,#0074ad 100%);
	background: linear-gradient(to bottom, #0099e5 30%,#0074ad 100%);
}
tr.catbg th.last_th
{
	background: #0099e5;
	background: -moz-linear-gradient(top, #0099e5 30%, #0074ad 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#0099e5), color-stop(100%,#0074ad));
	background: -webkit-linear-gradient(top, #0099e5 30%,#0074ad 100%);
	background: -o-linear-gradient(top, #0099e5 30%,#0074ad 100%);
	background: -ms-linear-gradient(top, #0099e5 30%,#0074ad 100%);
	background: linear-gradient(to bottom, #0099e5 30%,#0074ad 100%);
}
tr.titlebg th.first_th
{
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #d0dbe0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d0dbe0));
	background: -webkit-linear-gradient(top, #ffffff 0%,#d0dbe0 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#d0dbe0 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#d0dbe0 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#d0dbe0 100%);
}
tr.titlebg th.last_th
{
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #d0dbe0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d0dbe0));
	background: -webkit-linear-gradient(top, #ffffff 0%,#d0dbe0 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#d0dbe0 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#d0dbe0 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#d0dbe0 100%);
}
.table_grid th.last_th input
{
	margin: 0 2px;
}
.table_grid th.lefttext
{
	padding: 0 0.7em;
}

/* a general table class */
table.table_grid
{
	border-collapse: collapse;
	margin-top: 0.1em;
}
table.table_grid td
{
	padding: 3px;
	border-bottom: 1px solid rgba(0, 85, 128, 0.1);
}

/* GenericList */
.additional_row
{
	padding: 0.5em 0 0.5em 0;
}
table.table_grid thead tr.catbg th
{
	white-space: nowrap;
}

/* table_grid styles for Profile > Show Permissions. */
#permissions table.table_grid  td
{
	padding: 0.4em 0.8em;
	cursor: default;
} 

/* Common styles used to add corners to divisions.
------------------------------------------------------- */
.windowbg span.topslice
{
	display: block;
	padding-left: 20px;
	background-color: #ecf6fb;
}
.windowbg span.topslice span
{
	display: block;
	height: 11px;
}
.windowbg span.botslice
{
	display: block;
	padding-left: 20px;
	background-color: #ecf6fb;
	font-size: 5px;
	line-height: 5px;
	margin-bottom: 0.2em;
}
.windowbg span.botslice span
{
	display: block;
	height: 11px;
}

.windowbg2 span.topslice
{
	display: block;
	padding-left: 20px;
	background-color: #ecf6fb;
}
.windowbg2 span.topslice span
{
	display: block;
	height: 11px;
}
.windowbg2 span.botslice
{
	display: block;
	padding-left: 20px;
	background-color: #ecf6fb;
	font-size: 5px;
	line-height: 5px;
	margin-bottom: 0.2em;
}
.windowbg2 span.botslice span
{
	display: block;
	height: 11px;
}
.approvebg span.topslice
{
	display: block;
	padding-left: 20px;
	background-color: #FFEAEA;
}
.approvebg span.topslice span
{
	display: block;
	height: 11px;
}
.approvebg span.botslice
{
	display: block;
	padding-left: 20px;
	background-color: #FFEAEA;
	margin-bottom: 0.2em;
}
.approvebg span.botslice span
{
	display: block;
	height: 11px;
}
.postbg
{
	border-left: 1px solid #7f7f7f;
	border-right: 1px solid #7f7f7f;
}

/* Used for sections that need somewhat larger corners.
----------------------------------------------------------- */
.roundframe
{
	padding: 0 10px;
	background-color: rgba(224, 242, 251, 0.8);
	border-left: 1px solid rgba(0, 85, 128, 0.2);
	border-right: 1px solid rgba(0, 85, 128, 0.2);
}
.roundframe dl, .roundframe dt, .roundframe p
{
	margin: 0;
}
.roundframe p
{
	padding: 0.5em;
}
span.upperframe
{
	padding: 0;
	display: block;
	background-color: rgba(224, 242, 251, 0.8);
	border-left: 1px solid rgba(0, 85, 128, 0.2);
	border-right: 1px solid rgba(0, 85, 128, 0.2);
	border-top: 1px solid rgba(0, 85, 128, 0.2);
	padding-left: 20px;
}
span.upperframe span
{
	padding: 0;
	height: 12px;
	display: block;
}
span.lowerframe
{
	padding: 0;
	display: block;
	background-color: rgba(224, 242, 251, 0.8);
	border-left: 1px solid rgba(0, 85, 128, 0.2);
	border-right: 1px solid rgba(0, 85, 128, 0.2);
	border-bottom: 1px solid rgba(0, 85, 128, 0.2);
	padding-left: 20px;
}
span.lowerframe span
{
	padding: 0;
	height: 12px;
	display: block;
}

/* The main content area.
------------------------------------------------------- */
.content
{
	padding: 0.5em 1.2em;
	margin: 0;
	border: none;
}
.content p
{
	margin: 0 0 0.5em 0;
}

/* Styles used by the auto suggest control.
------------------------------------------------------- */
.auto_suggest_div
{
	border: 1px solid #000;
	position: absolute;
	visibility: hidden;
}
.auto_suggest_item
{
	background-color: #ddd;
}
.auto_suggest_item_hover
{
	background-color: #888;
	cursor: pointer;
	color: #eee;
}

/* Styles for the standard dropdown menus.
------------------------------------------------------- */
#main_menu
{
	padding: 0 0.5em;
	float: left;
	margin: 0;
	width: 98%;
}

.dropmenu, .dropmenu ul
{
	list-style: none;
	line-height: 1em;
	padding: 0;
	margin: 0;
}
.dropmenu
{
	padding: 0 0.5em;
}
.dropmenu a
{
	display: block;
	color: #7b94a4;
	text-decoration: none;
	font-size: 12px;
}
/* the background's first level only */
.dropmenu li a.firstlevel
{
	margin-right: 8px;
}
.dropmenu li a.firstlevel span.firstlevel
{
	display: block;
	position: relative;
	left: -5px;
	padding: 0 8px 0;
	height: 22px;
	line-height: 19px;
	white-space: pre;
}
.dropmenu li
{
	float: left;
	padding: 0;
	margin: 0;
	position: relative;
	height: 30px;
}
.dropmenu li ul
{
	top: 30px;
	left: -2px;
	position: absolute;
	width: 19.2em;
    opacity: 0;
	display: none;
    background-color: rgba(255, 255, 255, 0.9);
	z-index: 100000;
    transition: opacity .25s ease .1s;
	border-width: 3px 1px 1px;
	border-style: solid;
	border-color: #0074AE rgba(0, 85, 128, 0.6) rgba(0, 85, 128, 0.6);
}
.dropmenu li ul li ul
{
	left: 40px;
	margin-top: -35px;
}
.dropmenu li li
{
	width: 19em;
	margin: 0;
	padding: 0;
	height: 32px;
	border-bottom: 1px solid rgba(153,153,153,0.5);
}
.dropmenu li ul li a {
    width: 200px;
    padding: 4px 10px;
    margin: 0;
	height: 32px;
	line-height: 27px;
    border: none;
	font-weight: normal;
}
.dropmenu li li:hover ul
{
	top: auto;
}
.dropmenu li:hover ul
{
	display: block;
	opacity: 1;
}
.dropmenu li li a span
{
	display: block;
}
.dropmenu li ul ul
{
	margin: -1.8em 0 0 13em;
}

/* the active button */
.dropmenu li a.active
{
	color: #0099e5;
	font-weight: bold;
}
.dropmenu li a.active span
{
	border-top: 3px solid #0099E5;
	margin-top: -13px;
	padding: 10px 8px 0 !important;
}
.dropmenu li a.active span:after, .dropmenu li a.active:hover span:after {
	border-color: #0099E5 transparent;
	border-style: solid;
	border-width: 6px 5px 0;
	content: "";
	display: inline-block;
	position: absolute;
	margin: 0 auto;
	top: 0px;
	right: 0;
	left: 0;
	z-index: 1;
	width: 0;
}
/* the hover effects */
.dropmenu li a.firstlevel:hover, .dropmenu li:hover a.firstlevel
{
	color: #0074ae;
	cursor: pointer;
	text-decoration: none;
}
.dropmenu li a.firstlevel:hover span.firstlevel, .dropmenu li:hover a.firstlevel span.firstlevel
{
	border-top: 3px solid #0074ae;
	margin-top: -13px;
	padding: 10px 8px 0 !important;
}
.dropmenu li a.firstlevel:hover span:after {
	border-color: #0074ae transparent;
	border-style: solid;
	border-width: 6px 5px 0;
	content: "";
	display: inline-block;
	position: absolute;
	margin: 0 auto;
	top: 0px;
	right: 0;
	left: 0;
	z-index: 1;
	width: 0;
}

/* the hover effects on level2 and 3 */
.dropmenu li li a:hover, .dropmenu li li:hover > a
{
	color: #333;
	text-decoration: none;
}
.dropmenu li:hover ul ul, .dropmenu li:hover ul ul ul
{
	top: -999em;
}
.dropmenu li li:hover ul
{
	top: auto;
}
.dropmenu li:hover ul
{
	display: block;
}

/* The dropdown menu toggle image */
#menu_toggle
{
	float: right;
	margin-right: 5px;
	padding-top: 15px;
}
#menu_toggle span
{
	position: relative;
	right: 5000px;
}

/* Styles for the standard button lists.
------------------------------------------------------- */

.buttonlist ul
{
	z-index: 100;
	padding: 5px;
	margin: 0 0.2em 5px 0;
}
.buttonlist ul li
{
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}
.buttonlist ul li a
{
	display: block;
	font-size: 0.8em;
	color: #555;
    text-shadow: 0 1px 0 rgba(255,255,255,0.7);
	background-color: #eee;
	border: 1px solid rgba(150,150,150,0.6);
	box-shadow: 0 1px 0 rgba(255,255,255,1) inset;
	border-radius: 2px;
	padding: 0 0 0 8px;
	margin-left: 12px;
	text-transform: uppercase;
	cursor: pointer;
}
.buttonlist ul li a:hover
{
	background-color: #e5e5e5;
	border-radius: 2px;
	text-decoration: none;
}
.buttonlist ul li a span
{
	border-radius: 2px;
	display: block;
	height: 19px;
	line-height: 19px;
	padding: 0 8px 0 0;
}
.buttonlist ul li a:hover span
{
	border-radius: 2px;
}
/* the active one */
.buttonlist ul li a.active
{
	background-color: #0099e5;
	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
	border: 1px solid rgba(50, 50, 50, 0.3);
	box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset;
	border-radius: 2px;
	color: #f5f5f5;
}
.buttonlist ul li a.active span
{
	border-radius: 2px;

}
.buttonlist ul li a.active:hover
{
	color: #ddd;
}
.align_top ul li a, .align_bottom ul li a
{
	margin: 0 12px 0 0;
}

/* the navigation list */
ul#navigation
{
	margin: 0;
	font-size: 0.9em;
	padding: 1em 0.4em;
}
ul#navigation li
{
	float: none;
	font-size: 0.95em;
	display: inline;
}

#adm_submenus
{
	padding-left: 2em;
	overflow: hidden;
}

/* Styles for the general looks for the Curve theme.
------------------------------------------------------- */

/* the framing graphics */
#header
{
	//background-color: #e0f2fb;
	padding: 20px 0 10px;
	height: 80px;
	//border-bottom: 1px solid rgba(0, 85, 128, 0.1);
}
.h_frame
{
	margin: 0 auto;
}
/* the content section */
#content_section
{
	background: #f2f9ff;
	padding: 10px 20px 35px;
	border-width: 0 1px;
	border-color: rgba(0, 85, 128, 0.6);
	border-style: solid;
}
#main_content_section
{
	width: 100%;
	min-height: 200px;
}

/* the main title, always stay at 45 pixels in height! */
h1.forumtitle
{
	line-height: 45px;
	font-size: 1.8em;
	font-family: Geneva, verdana, sans-serif;
	margin: 0;
	padding: 0;
	float: left;
}
/* float these items to the right */
#siteslogan, img#smflogo
{
	margin: 0;
	padding: 0;
	float: right;
	line-height: 3em;
}
h3, h4
{
	padding-bottom: 3px;
}
/* the upshrink image needs some tweaking */
img#upshrink
{
	float: right;
	margin: 1em;
}
/* ..so does the SMF logo */
img#smflogo
{
	margin-left: 1em;
}
/* the upper_section, float the two each way */
#upper_section
{
	padding: 5px;
	margin-bottom: 1.5em;
}
#upper_section ul li.greeting
{
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.5em;
}
#upper_section div.news
{
	width: 50%;
	float: right;
	text-align: right;
}
#guest_form
{
	overflow: hidden;
}
#guest_form .info
{
	padding: 4px 0 ;
	line-height: 1.3em;
}
div#upper_section div.user
{
	width: 50%;
	float: left;
	overflow: auto;
}
div#upper_section div.user p
{
	float: left;
	margin: 0 1em 1em 0;
	padding: 0;
}
div#upper_section div.user ul
{
	margin: 0;
	padding-left: 10px;
}
div#upper_section div.user ul li
{
	margin-bottom: 2px;
}
div#upper_section div.news p
{
	display: inline;
}
div#upper_section div.news form
{
	padding-bottom: 10px;
}
/* clearing the floats */
#top_section
{
	min-height: 65px;
	overflow: hidden;
	margin-bottom: 3px;
}
#upper_section
{
	overflow: hidden;
}

/* The navigation list (i.e. linktree) */
.navigate_section
{
	padding: 0 1em;
	margin: 0 0 0 0;
	background-color: rgba(255,255,255,0.6);
	border-width: 0 1px;
	border-color: rgba(0, 85, 128, 0.6);
	border-style: solid;
	height: 45px;
	line-height: 20px;
}
.navigate_section ul
{
	display: block;
	margin: 0;
	font-size: 1em;
	padding: 1em 0 0.5em 0;
	overflow: hidden;
	list-style: none;
	clear: both;
	width: 100%;
	font-weight: bold;
}
.navigate_section ul li, .navigate_section ul li a
{
	color: #888;
}
.navigate_section ul li:first-child a, .navigate_section ul li:nth-child(2) a
{
	color: #7b94a4;
	font-weight: bold;
}
.navigate_section ul li
{
	float: left;
	padding: 0 0.5em 0 0;
	font-size: 0.95em;
}
.navigate_section ul li a
{
	white-space: pre;
}
.navigate_section a:hover
{
	text-decoration: none;
}

/* The footer wih copyright links etc. */
#footer_section
{
	background-color: #e0f2fb;
	padding: 10px 0;
	border-top: 1px solid rgba(0, 85, 128, 0.1);
	width: 100%;
}
#footer_section span.smalltext
{
	font-size: 100%;
}
#footer_section div.frame
{
	margin: 0 auto;
}
#footer_section ul li, #footer_section p
{
	font-size: 0.8em;
}
#footer_section ul li
{
	display: inline;
	padding-right: 5px;
}
#footer_section ul li.copyright
{
	display: block;
}
select.qaction, input.qaction
{
	font-size: 0.85em;
	padding: 0;
}
#mlist table tbody td.windowbg2
{
	text-align: center;
}

/* Styles for a typical table.
------------------------------------------------------- */
table.table_list
{
	width: 100%;
}
table.table_list p
{
	padding: 0;
	margin: 0;
}
table.table_list td, table.table_list th
{
	padding: 5px;
}
table.table_list tbody.header td
{
	padding: 0;
}
table.table_list tbody.content td.stats
{
	font-size: 90%;
	width: 15%;
	text-align: center;
}
table.table_list tbody.content td.lastpost
{
	line-height: 1.3em;
	font-size: 85%;
	width: 24%;
}
table.table_list tbody.content td.icon
{
	text-align: center;
	width: 6%;
}

/* Styles for the board index.
------------------------------------------------- */

/* the board title! */
.table_list tbody.content td.info a.subject
{
	font-weight: bold;
	font-size: 110%;
	color: #0074AE;
}
.table_list tbody.content td
{
	border-style: solid;
	border-color: rgba(0,85,128,0.1);
	border-width: 0 0 1px;
}
.table_list tbody.content td.info p
{
	font-size: 95%;
}
.table_list tbody.content td.info p.children
{
	color: #666;
	font-size: 85%;
	border: none;
}
.table_list tbody.content td.info p.moderators
{
	font-size: 85%;
	font-family: verdana, sans-serif;
}
/* hide the table header/footer parts - but its here for those needing to style it */
#boardindex_table .table_list thead, #boardindex_table .table_list tfoot
{
	display: none;
}

/* the posting icons */
#posting_icons
{
	padding: 0 1em 0.5em 1em;
	margin: 0 0 1em 0;
	line-height: 1em;
}
#posting_icons ul
{
	font-size: 0.8em;
}
#posting_icons img
{
	vertical-align: middle;
	margin: 0 0 0 4ex;
}
#postbuttons_upper ul li a span
{
	line-height: 19px;
	padding: 0 0 0 6px;
}
.nextlinks
{
	text-align: right;
	margin-top: -1px;
}
.nextlinks_bottom
{
	clear: right;
	text-align: right;
}
.mark_read
{
	padding: 0 0.5em;
}

/* the newsfader */
#newsfader
{
	margin: 0 2px;
}
#smfFadeScroller
{
	text-align: center;
	padding: 0 2em;
	overflow: auto;
	margin: 1em 0;
	color: #575757; /* shouldn't be shorthand style due to a JS bug in IE! */
}

/* Styles for the info center on the board index.
---------------------------------------------------- */

#upshrinkHeaderIC
{
	margin-top: 2px;
}
dl#ic_recentposts
{
	margin: 0 0 0.5em 0;
	padding: 0.5em;
	line-height: 1.3em;
}
dl#ic_recentposts dt
{
	float: left;
}
dl#ic_recentposts dd
{
	text-align: right;
}
#upshrinkHeaderIC p
{
	margin: 0 0 0.5em 0;
	padding: 0.5em;
}
#upshrinkHeaderIC p.last
{
	margin: 0;
	padding: 0.5em;
	border-top: 2px dotted #bbb;
}
#upshrinkHeaderIC p.inline
{
	border: none;
	margin: 0;
	padding: 0.2em 0.5em 0.2em 0.5em;
}
#upshrinkHeaderIC p.stats
{
	font-size: 1.1em;
	padding-top: 8px;
}
form#ic_login
{
	padding: 0.5em;
	height: 2em;
}
form#ic_login ul li
{
	margin: 0;
	padding: 0;
	float: left;
	width: 20%;
	text-align: center;
}
form#ic_login ul li label
{
	display: block;
}

/* the small stats */
#index_common_stats
{
	display: block;
	margin: 0 0 0.5em 0;
	text-align: right;
	font-size: 0.9em;
	position: relative;
	top: -20px;
	line-height: 1px;
}

img.new_posts
{
	padding: 0 0.1em;
}
/* Styles for the message (topic) index.
---------------------------------------------------- */
div.table_frame .table_list
{
	border-collapse: collapse;
	margin: 2px 0;
}
.table_frame .table_list td.icon, .table_frame .table_list td.info, .table_frame .table_list td.stats
{
	border-right: 2px solid white;
}
#messageindex
{
	clear: both;
}
/* the page navigation area */
.childboards
{
	margin-bottom: 0.2em;
}
#childboards h3
{
	padding-bottom: 0;
}
#childboards .table_list thead
{
	display: none;
}
#childboards .table_list
{
	margin-bottom: 1em;
}
.lastpost img
{
	float: right;
	padding: 4px;
}

/* Styles for the display template (topic view).
---------------------------------------------------- */

#postbuttons div.buttons
{
	padding: 0.5em;
	width: 40%;
	float: right;
}
#postbuttons div.middletext
{
	width: 60%;
}
#postbuttons span
{
	display: block;
	text-align: right;
}
#postbuttons span.lower
{
	clear: right;
}
#postbuttons .buttonlist
{
	float: right;
}
#postbuttons #pagelinks
{
	padding-top: 1em;
}
#moderationbuttons
{
	overflow: hidden;
}
/* Events */
.linked_events
{
	padding: 1em 0;
}
.edit_event
{
	margin: 0 1em;
	vertical-align: middle;
}
/* Poll question */
#poll
{
	overflow: hidden;
}
#poll .content
{
	padding: 0 1em;
}
h4#pollquestion
{
	padding: 0 0 0.5em 2em;
}

/* Poll vote options */
#poll_options ul.options
{
	border-top: 1px solid #9999aa;
	padding: 1em 2.5em 0 2em;
	margin: 0 0 1em 0;
}
#poll_options div.submitbutton
{
	border-bottom: 1px solid #9999aa;
	clear: both;
	padding: 0 0 1em 2em;
	margin: 0 0 1em 0;
}

/* Poll results */
#poll_options dl.options
{
	border: solid #9999aa;
	border-width: 1px 0;
	padding: 1em 2.5em 1em 2em;
	margin: 0 1em 1em 0;
	line-height: 1.1em !important;
}

#poll_options dl.options dt
{
	padding: 0.3em 0;
	width: 30%;
	float: left;
	margin: 0;
	clear: left;
}

#poll_options dl.options .voted
{
	font-weight: bold;
}

#poll_options dl.options dd
{
	margin: 0 0 0 2em;
	padding: 0.1em 0 0 0;
	width: 60%;
	max-width: 450px;
	float: left;
}

#poll_options dl.options .percentage
{
	display: block;
	float: right;
	padding: 0.2em 0 0.3em 0;
}

/* Poll notices */
#poll_options p
{
	margin: 0 1.5em 0.2em 1.5em;
	padding: 0 0.5em 0.5em 0.5em;
}

div#pollmoderation
{
	margin: 0;
	padding: 0;
	overflow: auto;
}

/* onto the posts */
#forumposts
{
	clear: both;
}
#forumposts .cat_bar
{
	margin: 0 0 2px 0;
}
/* author and topic information */
#forumposts h3 span#author
{
	margin: 0 7.7em 0 0;
}
#forumposts h3 img
{
	float: left;
	margin: 4px 0.5em 0 0;
}
#forumposts h3.catbg
{
	margin-bottom: 3px;
}
p#whoisviewing
{
	margin: 0;
	padding: 0.5em;
}
/* poster and postarea + moderation area underneath */
.post_wrapper
{
	float:left;
	width:100%;
}
.poster
{
	float: left;
	width: 15em;
}
.postarea, .moderatorbar
{
	margin: 0 0 0 16em;
}
.postarea div.flow_hidden
{
	width: 100%;
}

.moderatorbar
{
	clear: right;
}
/* poster details and list of items */
.poster h4, .poster ul
{
	padding: 0;
	margin: 0 1em 0 1.5em;
}
.poster h4
{
	margin: 0.2em 0 0 1.1em;
	font-size: 120%;
}
.poster h4, .poster h4 a
{
	color: #0074ae;
}
.poster ul ul
{
	margin: 0.3em 1em 0 0;
	padding: 0;
}
.poster ul ul li
{
	display: inline;
}
.poster li.title
{
	border-bottom: 1px solid rgba(0, 85, 128, 0.2);
	padding-bottom: 2px;
	margin-bottom: 2px;
}
.poster li.stars, .poster li.avatar, .poster li.blurb, li.postcount, li.im_icons ul
{
	margin-top: 0.5em;
}
.poster li.extrainfo
{
	padding-bottom: 3px;
	border-bottom: 3px solid #0099E5;
	min-height: 15px;
	margin-bottom: 5px;
}
.poster li.extrainfo span.title
{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	float: left;
}
.poster li.extrainfo span.floatright
{
	padding-left: 3px;
}
.poster li.postcount, .poster li.karma, .poster li.membergroup, .poster li.postgroup
{
	background: url(../images/md/posterarrow.png) left center no-repeat;
	padding-left: 20px;
}
.poster li.im_icons, .poster li.profile
{
	border-top: 1px solid rgba(0, 85, 128, 0.2);
	padding-bottom: 2px;
	margin-bottom: 2px;
}
.poster li.membergroup
{
	border-bottom: 1px solid rgba(0, 85, 128, 0.2);
	padding-bottom: 2px;
	margin-bottom: 2px;
}
.poster li.blurb
{
	border-top: 1px solid rgba(0, 85, 128, 0.2);
	padding-bottom: 2px;
	margin-bottom: 2px;
}
.poster li.avatar
{
	overflow: hidden;
	padding: 7px 4px;
	border: 1px solid rgba(0, 85, 128, 0.2);
	text-align: center;
}
.poster li.warning
{
	line-height: 1.2em;
	padding-top: 1em;
}
.poster li.warning a img
{
	vertical-align: bottom;
	padding: 0 0.2em;
}
.messageicon
{
	float: left;
	margin: 0 0.5em 0 0;
}
.messageicon img
{
	padding: 6px 3px;
}
.keyinfo
{
	float: left;
	width: 50%;
}
.modifybutton
{
	clear: right;
	float: right;
	margin: 6px 20px 10px 0;
	text-align: right;
	font: bold 0.85em arial, sans-serif;
	color: #334466;	
}

/* The quick buttons */
div.quickbuttons_wrap
{
	padding: 0.2em 0;
	width: 100%;
	float: left;
}

ul.quickbuttons
{
	margin: 0.9em 11px 0 0;
	clear: right;
	float: right;
	text-align: right;
	font: bold 0.85em arial, sans-serif;
}
ul.quickbuttons li
{
	float: left;
	display: inline;
	margin: 0 0 0 11px;
}
ul.quickbuttons li a
{
	padding: 0 0 0 20px;
	display: block;
	height: 20px;
	line-height: 18px;
	float: left;
}
ul.quickbuttons a:hover
{
	color: #a70;
}
ul.quickbuttons li.quote_button
{
	background: url(../images/theme/quickbuttons.png) no-repeat 0 0;
}
ul.quickbuttons li.remove_button
{
	background: url(../images/theme/quickbuttons.png) no-repeat 0 -30px;
}
ul.quickbuttons li.modify_button
{
	background: url(../images/theme/quickbuttons.png) no-repeat 0 -60px;
}
ul.quickbuttons li.approve_button
{
	background: url(../images/theme/quickbuttons.png) no-repeat 0 -90px;
}
ul.quickbuttons li.restore_button
{
	background: url(../images/theme/quickbuttons.png) no-repeat 0 -120px;
}
ul.quickbuttons li.split_button
{
	background: url(../images/theme/quickbuttons.png) no-repeat 0 -150px;
}
ul.quickbuttons li.reply_button
{
	background: url(../images/theme/quickbuttons.png) no-repeat 0 -180px;
}
ul.quickbuttons li.reply_all_button
{
	background: url(../images/theme/quickbuttons.png) no-repeat 0 -180px;
}
ul.quickbuttons li.notify_button
{
	background: url(../images/theme/quickbuttons.png) no-repeat 0 -210px;
}
ul.quickbuttons li.inline_mod_check
{
	margin: 0 0 0 5px;
}

.post
{
	margin-top: 0.5em;
	clear: right;
}
.inner
{
	padding: 1em 1em 2px 0;
	margin: 0 1em 0 0;
	border-top: 1px solid #99a;
}
img.smiley
{
	vertical-align: bottom;
}
#forumposts .modified
{
	float: left;
}
#forumposts .reportlinks
{
	margin-right: 1.5em;
	text-align: right;
	clear: right;
}
#forumposts .signature, .post .signature
{
	margin: 1em 0 0 0;
}
#forumposts span.botslice
{
	clear: both;
}
.attachments hr
{
	clear: both;
	margin: 1em 0 1em 0;
}
.attachments
{
	padding: 1em 0 2em 0;
}
.attachments div
{
	padding: 0 0.5em;
}

/* Styles for the quick reply area.
---------------------------------------------------- */

#quickreplybox
{
	padding-bottom: 1px;
}
#quickReplyOptions .roundframe
{
	padding: 0 10%;
}
#quickReplyOptions form textarea
{
	height: 100px;
	width: 635px;
	max-width: 100%;
	min-width: 100%;
	margin: 0.25em 0 1em 0;
}
/* The jump to box */
#display_jump_to
{
	clear: both;
	padding: 5px;
	margin-top: 6px;
	text-align: right;
}

/* Separator of posts. More useful in the print stylesheet. */
#forumposts .post_separator
{
	display: none;
}

/* Styles for edit post section
---------------------------------------------------- */
form#postmodify .roundframe
{
	padding: 0 12%;
}
#post_header, .postbox
{
	padding: 0.5em;
	overflow: hidden;
}
#post_header dt, .postbox dt
{
	float: left;
	padding: 0;
	width: 15%;
	margin: .5em 0 0 0;
	font-weight: bold;
}
#post_header dd, .postbox dd
{
	float: left;
	padding: 0;
	width: 83%;
	margin: .3em 0;
}
#post_header img
{
	vertical-align: middle;
}
ul.post_options
{
	margin: 0 0 0 1em;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
ul.post_options li
{
	margin: 0.2em 0;
	width: 49%;
	float: left;
}
#postAdditionalOptionsHeader
{
	margin-top: 1em;
}
#postMoreOptions
{
	border-bottom: 1px solid #cacdd3;
	padding: 0.5em;
}
#postAttachment, #postAttachment2
{
	overflow: hidden;
	margin: .5em 0;
	padding: 0;
	border-bottom: 1px solid #cacdd3;
	padding: 0.5em;
}
#postAttachment dd, #postAttachment2 dd
{
	margin: .3em 0 .3em 1em;
}
#postAttachment dt, #postAttachment2 dt
{
	font-weight: bold;
}
#postAttachment3
{
	margin-left: 1em;
}
#post_confirm_strip, #shortcuts
{
	padding: 1em 0 0 0;
}
.post_verification
{
	margin-top: .5em;
}
.post_verification #verification_control
{
	margin: .3em 0 .3em 1em;
}
/* The BBC buttons */
#bbcBox_message
{
	margin: 0.75em 0.5em;
}
#bbcBox_message div
{
	margin: 0.2em 0;
	vertical-align: top;
}
#bbcBox_message div img
{
	margin: 0 1px 0 0;
	vertical-align: top;
}
#bbcBox_message select
{
	margin: 0 2px;
}
/* The smiley strip */
#smileyBox_message
{
	margin: 0.5em;
}

/* Styles for edit event section
---------------------------------------------------- */
#post_event .roundframe
{
	padding: 0 12%;
}
#post_event fieldset
{
	padding: 0.5em;
	clear: both;
}
#post_event #event_main input
{
	margin: 0 0 1em 0;
	float: left;
}
#post_event #event_main div.smalltext
{
	width: 33em;
	float: right;
}
#post_event div.event_options
{
	float: right;
}
#post_event ul.event_main, ul.event_options
{
	padding: 0;
	overflow: hidden;
}
#post_event ul.event_main li
{
	list-style-type: none;
	margin: 0.2em 0;
	width: 49%;
	float: left;
}
#post_event ul.event_options
{
	margin: 0;
	padding: 0 0 .7em .7em;
}
#post_event ul.event_options li
{
	list-style-type: none;
	margin: 0;
	float: left;
}
#post_event #event_main select, #post_event ul.event_options li select, #post_event ul.event_options li .input_check
{
	margin: 0 1em 0 0;
}

/* Styles for edit poll section.
---------------------------------------------------- */

#edit_poll
{
	overflow: hidden;
}
#edit_poll fieldset
{
	padding: 0.5em;
	clear: both;
	overflow: hidden;
}
#edit_poll fieldset input
{
	margin-left: 8.1em;
}
#edit_poll ul.poll_main li
{
	padding-left: 1em;
}
#edit_poll ul.poll_main input
{
	margin-left: 1em;
}
#edit_poll ul.poll_main, dl.poll_options
{
	overflow: hidden;
	padding: 0 0 .7em .7em;
	list-style: none;
}
#edit_poll ul.poll_main li
{
	margin: 0.2em 0;
}
#edit_poll dl.poll_options dt
{
	width: 33%;
	padding: 0 0 0 1em;
}
#edit_poll dl.poll_options dd
{
	width: 65%;
}
#edit_poll dl.poll_options dd input
{
	margin-left: 0; 
}

/* Styles for the recent messages section.
---------------------------------------------------- */

#readbuttons_top .pagelinks, #readbuttons .pagelinks
{
	padding-bottom: 1em;
	width: 60%;
}
#readbuttons .pagelinks
{
	padding-top: 1em;
}
#recent
{
	clear: both;
}

/* Styles for the move topic section.
---------------------------------------------------- */

#move_topic dl
{
	margin-bottom: 0;
}
#move_topic dl.settings dt
{
	width: 40%;
}
#move_topic dl.settings dd
{
	width: 59%;
}
.move_topic
{
	width: 710px;
	margin: auto;
	text-align: left;
}
div.move_topic fieldset
{
	padding: 0.5em;
}

/* Styles for the send topic section.
---------------------------------------------------- */

fieldset.send_topic
{
	border: none;
	padding: 0.5em;
}
dl.send_topic
{
	margin-bottom: 0;
}
dl.send_mail dt
{
	width: 35%;
}
dl.send_mail dd
{
	width: 64%;
}

/* Styles for the report topic section.
---------------------------------------------------- */

#report_topic dl
{
	margin-bottom: 0;
}
#report_topic dl.settings dt
{
	width: 20%;
}
#report_topic dl.settings dd
{
	width: 79%;
}

/* Styles for the split topic section.
---------------------------------------------------- */

div#selected, div#not_selected
{
	width: 49%;
}
ul.split_messages li.windowbg, ul.split_messages li.windowbg2
{
	margin: 1px;
}
ul.split_messages li a.split_icon
{
	padding: 0 0.5em;
}
ul.split_messages div.post
{
	padding: 1em 0 0 0;
	border-top: 1px solid #fff;
}

/* Styles for the merge topic section.
---------------------------------------------------- */
ul.merge_topics li
{
	list-style-type: none;
}
dl.merge_topic dt
{
	width: 25%;
}
dl.merge_topic dd
{
	width: 74%;
}
fieldset.merge_options
{
	clear: both;
}
.custom_subject
{
	margin: 0.5em 0;
}

/* Styles for the login areas.
------------------------------------------------------- */
.login
{
	width: 540px;
	margin: 0 auto;
}
.login dl
{
	overflow: auto;
	clear: right;
}
.login dt, .login dd
{
	margin: 0 0 0.4em 0;
	width: 44%;
	padding: 0.1em;
}
.login dt
{
	float: left;
	clear: both;
	text-align: right;
	font-weight: bold;
}
.login dd
{
	width: 54%;
	float: right;
	text-align: left;
}
.login p
{
	text-align: center;
}

/* Styles for the registration section.
------------------------------------------------------- */
.register_error
{
	border: 1px dashed red;
	padding: 5px;
	margin: 0 1ex 1ex 1ex;
}
.register_error span
{
	text-decoration: underline;
}

/* Additional profile fields */
dl.register_form
{
	margin: 0;
	clear: right;
}

dl.register_form dt
{
	font-weight: normal;
	float: left;
	clear: both;
	width: 50%;
	margin: 0.5em 0 0 0;
}

dl.register_form dt strong
{
	font-weight: bold;
}

dl.register_form dt span
{
	display: block;
}

dl.register_form dd
{
	float: left;
	width: 49%;
	margin: 0.5em 0 0 0;
}

#confirm_buttons
{
	text-align: center;
	padding: 1em 0;
}

.coppa_contact
{
	padding: 4px;
	width: 32ex;
	background-color: #fff;
	color: #000;
	margin-left: 5ex;
	border: 1px solid #000;
}

.valid_input
{
	background-color: #f5fff0;
}
.invalid_input
{
	background-color: #fff0f0;
}

/* Styles for maintenance mode.
------------------------------------------------------- */
#maintenance_mode
{
	width: 75%;
	min-width: 520px;
	text-align: left;
}
#maintenance_mode img.floatleft
{
	margin-right: 1em;
}

/* common for all admin sections */
h3.titlebg img
{
	vertical-align: middle;
	margin-right: 0.5em;
	margin-top: -1px;
}
tr.titlebg td
{
	padding-left: 0.7em;
}
#admin_menu
{
	margin: -10px -20px 10px;
	padding: 10px 0 30px;
	background-color: rgba(224, 242, 251, 0.5);
	border-bottom: 1px solid rgba(0, 85, 128, 0.2);
	border-top: 3px solid #0074ae;
}
#admin_content
{
	clear: left;
	padding-top: 0.5em;
}
/* Custom profile fields like to play with us some times. */
#admin_content .custom_field
{
	margin-bottom: 15px;
}
#admin_login .centertext
{
	padding: 1em;
}
#admin_login .centertext .error
{
	padding: 0 0 1em 0;
}

/* Styles for sidebar menus.
------------------------------------------------------- */
.left_admmenu, .left_admmenu ul, .left_admmenu li
{
	padding: 0;
	margin: 0;
	list-style: none;
}
#left_admsection
{
	width: 160px;
	float: left;
	padding-right: 10px;
}
.adm_section h4.titlebg
{
	font-size: 95%;
	margin-bottom: 5px;
}
#main_container
{
	position: relative;
}
.left_admmenu li
{
	padding: 0 0 0 0.5em;
}
.left_admmenu
{
	margin-bottom: 0.5em;
}
#main_admsection
{
	position: relative;
	left: 0;
	right: 0;
	overflow: hidden;
}

tr.windowbg td, tr.windowbg2 td, tr.approvebg td, tr.highlight2 td
{
	padding: 0.3em 0.7em;
}
#credits p
{
	padding: 0;
	font-style: italic;
	margin: 0;
}

/* Styles for generic tables.
------------------------------------------------------- */
.topic_table table
{
	width: 100%;
}
.topic_table .icon1, .topic_table .icon2, .topic_table .stats
{
	text-align: center;
}
#topic_icons
{
	margin: 1em 0 0 0;
}
#topic_icons .description
{
	margin: 0;
}
.topic_table table thead
{
	border-bottom: 1px solid #fff;
}
/* the subject column */
.topic_table td
{
	font-size: 1em;
}
.topic_table td.subject p, .topic_table td.stats
{
	font-size: 0.85em;
	padding: 0;
	margin: 0;
}
.topic_table td.lastpost
{
	font-size: 0.85em;
	line-height: 1.3em;
	padding: 4px;
}
.topic_table td.stickybg2
{
	background-image: url(../images/icons/quick_sticky.gif);
	background-repeat: no-repeat;
	background-position: 98% 4px;
}
.topic_table td.lockedbg2
{
	background-image: url(../images/icons/quick_lock.gif);
	background-repeat: no-repeat;
	background-position: 98% 4px;
}
.topic_table td.locked_sticky2
{
	background-image: url(../images/icons/quick_sticky_lock.gif);
	background-repeat: no-repeat;
	background-position: 98% 4px;
}
.topic_table td.lastpost
{
	background-image: none;
}

/* Styles for (fatal) errors.
------------------------------------------------- */

#fatal_error
{
	width: 80%;
	margin: auto;
}

.errorbox
{
	padding: 1em;
	border: 1px solid #cc3344;
	color: #000;
	background-color: #ffe4e9;
	margin-bottom: 1em;
}
.errorbox h3
{
	padding: 0;
	margin: 0;
	font-size: 1.1em;
	text-decoration: underline;
}
.errorbox p
{
	margin: 1em 0 0 0;
}
.errorbox p.alert
{
	padding: 0;
	margin: 0;
	float: left;
	width: 1em;
	font-size: 1.5em;
}

/* Styles for the profile section.
------------------------------------------------- */

dl
{
	overflow: auto;
	margin: 0;
	padding: 0;
}

/* The basic user info on the left */
#basicinfo
{
	width: 20%;
	float: left;
}
#basicinfo .windowbg .content
{
	padding-left: 20px;
}
#detailedinfo
{
	width: 79.5%;
	float: right;
}
#basicinfo h4
{
	font-size: 135%;
	font-weight: 100;
	line-height: 105%;
	white-space: pre-wrap;
	overflow: hidden;
}
#basicinfo h4 span.position
{
	font-size: 80%;
	font-weight: 100;
	display: block;
}
#basicinfo img.avatar
{
	display: block;
	margin: 10px 0 0 0;
}
#basicinfo ul
{
	list-style-type: none;
	margin: 10px 0 0 0;
}
#basicinfo ul li
{
	display: block;
	float: left;
	margin-right: 5px;
	height: 20px;
}
#basicinfo span#userstatus
{
	display: block;
	clear: both;
}
#basicinfo span#userstatus img
{
	vertical-align: middle;
}
#detailedinfo div.content dl, #tracking div.content dl
{
	clear: right;
	overflow: auto;
	margin: 0 0 18px 0;
	padding: 0 0 15px 0;
	border-bottom: 1px #ccc solid;
}
#detailedinfo div.content dt, #tracking div.content dt
{
	width: 35%;
	float: left;
	margin: 0 0 3px 0;
	padding: 0;
	font-weight: bold;
	clear: both;
}
#detailedinfo div.content dd, #tracking div.content dd
{
	width: 65%;
	float: left;
	margin: 0 0 3px 0;
	padding: 0;
}
#detailedinfo div.content dl.noborder
{
	border-bottom: 0;
}
#detailedinfo div.content dt.clear
{
	width: 100%;
}
.signature, .custom_fields_above_signature
{
	border-top: 1px #ccc solid;
}
.signature h5
{
	font-size: 0.85em;
	margin-bottom: 10px;
}
#personal_picture
{
	display: block;
	margin-bottom: 0.3em;
}
#avatar_server_stored div
{
	float: left;
}
#avatar_upload
{
	overflow: auto;
}
#main_admsection #basicinfo, #main_admsection #detailedinfo
{
	width: 100%;
}
#main_admsection #basicinfo h4
{
	float: left;
	width: 35%;
}
#main_admsection #basicinfo img.avatar
{
	float: right;
	vertical-align: top;
}
#main_admsection #basicinfo ul
{
	clear: left;
}
#main_admsection #basicinfo span#userstatus
{
	clear: left;
}
#main_admsection #basicinfo p#infolinks
{
	display: none;
	clear: both;
}
#main_admsection #basicinfo .botslice
{
	clear: both;
}

/* Simple feedback messages */
div#profile_error, div#profile_success
{
	margin: 0 0 1em 0;
	padding: 1em 2em;
	border: 1px solid;
}
div#profile_error
{
	border-color: red;
	color: red;
	background: #fee;
}

div#profile_error span
{
	text-decoration: underline;
}

div#profile_success
{
	border-color: green;
	color: green;
	background: #efe;
}

/* Profile statistics */
#generalstats div.content dt
{
	width: 50%;
	float: left;
	margin: 0 0 3px 0;
	padding: 0;
	font-weight: bold;
	clear: both;
}
#generalstats div.content dd
{
	width: 50%;
	float: left;
	margin: 0 0 3px 0;
	padding: 0;
}

/* Activity by time */
#activitytime
{
	margin: 6px 0;
}
.activity_stats
{
	margin: 0;
	padding: 0;
	list-style: none;
}
.activity_stats li
{
	margin: 0;
	padding: 0;
	width: 4.16%;
	float: left;
}
.activity_stats li span
{
	display: block;
	border: solid #000;
	border-width: 1px 1px 0 0;
	text-align: center;
}
.activity_stats li.last span
{
	border-right: none;
}
.activity_stats li div.bar
{
	margin: 0 auto;
	width: 15px;
}
.activity_stats li div.bar div
{
	background: #6294CE;
}
.activity_stats li div.bar span
{
	position: absolute;
	top: -1000em;
	left: -1000em;
}

/* Most popular boards by posts and activity */
#popularposts
{
	width: 49.5%;
	float: left;
}
#popularactivity
{
	width: 49.5%;
	float: right;
}

#popularposts div.content dt, #popularactivity div.content dt
{
	width: 65%;
	float: left;
	margin: 0 0 3px 0;
	padding: 0;
	font-weight: bold;
	clear: both;
}
#popularposts div.content dd, #popularactivity div.content dd
{
	width: 35%;
	float: left;
	margin: 0 0 3px 0;
	padding: 0;
}

.profile_pie
{
	background-image: url(../images/stats_pie.png);
	float: left;
	height: 20px;
	width: 20px;
	margin: 0 1em 0 0;
	padding: 0;
	text-indent: -1000em;
}

/* View posts */
.topic .time
{
	float: right;
}

.counter
{
	margin: 0 0 0 0;
	padding: 0.2em 0.5em 0.1em 0.2em;
	font-size: 2.2em;
	font-weight: bold;
	color: #3f3f3f;
	float: left;
}
.list_posts
{
	border-top: 2px solid #b3b3bf;
	padding-top: 12px;
	margin-top: 6px;
	overflow: auto;
}

.core_posts
{
	margin-bottom: 3px;
}

.topic h4
{
	margin: 3px 0;
}

.topic .post
{
	margin: 0 1em;
	min-height: 80px;
	height: auto !important;
	height: 80px;
}

.topic .mod_icons
{
	text-align: right;
	margin-right: 1em;
}

#tracking div.content dl
{
	border-bottom: 0;
	margin: 0;
	padding: 0;
}

#creator dl
{
	margin: 0;
}
#creator dt
{
	width: 40%;
	float: left;
	clear: both;
	margin: 0 0 10px 0;
}
#creator dd
{
	float: right;
	width: 55%;
	margin: 0 0 10px 2px;
	overflow: auto;
}

.ignoreboards
{
	margin: 0 2%;
	padding: 0;
	width: 45%;
}
.ignoreboards a
{
	font-weight: bold;
	border-bottom: 1px solid #c4c4c4;
	padding: 0.1em 0;
}
.ignoreboards a:hover
{
	text-decoration: none;
	border-bottom: 1px solid #334466;
}
.ignoreboards ul
{
	margin: 0;
	padding: 0;
}
.ignoreboards li
{
	list-style: none;
	float: left;
	clear: both;
}
.ignoreboards li.category
{
	margin: 0.7em 0 0 0;
	width: 100%;
}
.ignoreboards li ul
{
	margin: 0.2em 0 0 0;
}
.ignoreboards li.category ul li.board
{
	width: 93%;
}

#theme_settings
{
	overflow: auto;
	margin: 0;
	padding: 0;
}

#theme_settings li
{
	list-style: none;
	margin: 10px 0;
	padding: 0;
}
/* Paid Subscriptions */
#paid_subscription
{
	width: 100%;
}
#paid_subscription dl.settings
{
	margin-bottom: 0;
}
#paid_subscription dl.settings dd, #paid_subscription dl.settings dt
{
	margin-bottom: 4px;
}
/* Pick theme */
#pick_theme
{
	width: 100%;
	float: left;
}
/*Issue a warning*/
#warn_body{
	width: 80%;
	font-size: 0.9em;
}

/* Styles for the statistics center.
------------------------------------------------- */
#statistics
{
	padding: 0.5em 0;
}
#statistics div.title_bar
{
	margin: 4px 0 -2px 0;
}
#statistics h3.catbg
{
	text-align: center;
}
#statistics div.content
{
	min-height: 210px;
}
#statistics div.top_row
{
	min-height: 150px;
}
#stats_left, #top_posters, #top_topics_replies, #top_topics_starter
{
	float: left;
	width: 49.5%;
}
#stats_right, #top_boards, #top_topics_views, #most_online
{
	float: right;
	width: 49.5%;
}
dl.stats
{
	clear: both;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
dl.stats dt
{
	width: 49%;
	float: left;
	margin: 0 0 4px 0;
	line-height: 16px;
	padding: 0;
	clear: both;
	font-size: 1em;
}
dl.stats dd
{
	text-align: right;
	width: 50%;
	font-size: 1em;
	float: right;
	margin: 0 0 4px 0;
	line-height: 16px;
	padding: 0;
}
.statsbar div.bar
{
	float: left;
	background-color: #0087CA;
	display: block;
	margin: 0 4px;
	height: 16px;
	border-radius: 4px;
}
.statsbar div.bar div
{
	position: relative;
	right: -4px;
	padding: 0 4px 0 0;
	height: 16px;
}
tr.windowbg2 th.stats_month
{
	width: 25%;
	padding: 0 2em;
	text-align: left;
}
tr.windowbg2 td.stats_day
{
	padding: 0 3.5em;
	text-align: left;
}

/* Styles for the personal messages section.
------------------------------------------------- */

#personal_messages h3 span#author, #personal_messages h3 span#topic_title
{
	float: left;
}
#personal_messages h3 span#author
{
	margin: 0 0 0 0.5em;
}
#personal_messages h3 span#topic_title
{
	margin: 0 0 0 9em;
}
#personal_messages div.labels
{
	padding: 0 1em 0 0;
}
#personal_messages .capacity_bar
{
	background: #f0f4f7;
	display: block;
	margin: 0.5em 0 0 1em;
	height: 1em;
	border: 1px solid #adadad;
	width: 10em;
}
#personal_messages .capacity_bar span
{
	border-right: 1px solid #adadad;
	display: block;
	height: 1em;
}
#personal_messages .capacity_bar span.empty
{
	background: #a6d69d;
}
#personal_messages .capacity_bar span.filled
{
	background: #eea800;
}
#personal_messages .capacity_bar span.full
{
	background: #f10909;
}
#personal_messages .reportlinks
{
	padding: 0.5em 1.3em;
}
#searchLabelsExpand li
{
	padding: 0.3em 0.5em;
}
#manrules div.righttext
{
	padding: 0.3em 0.1em;
}
dl.addrules dt.floatleft
{
	width: 15em;
	color: #333;
	padding: 0 1.25em 0.5em 1.25em;
}
#addrule fieldset
{
	clear: both;
}

/* Styles for the calendar section.
------------------------------------------------- */
.calendar_table
{
	margin-bottom: 0.7em;
}

/* Used to indicate the current day in the grid. */
.calendar_today
{
	background-color: #fff;
}

#month_grid
{
	width: 200px;
	text-align: center;
	float: left;
}
#month_grid div.cat_bar
{
	height: 25px;
}
#month_grid h3.catbg
{
	height: 25px;
	line-height: 27px;
}
#month_grid table
{
	width: 200px;
}
#main_grid table
{
	width: 100%;
	padding-bottom: 4px;
}
#main_grid table h3.catbg
{
	text-align: center;
	height: 29px;
	border-top: 2px solid #fff;
	border-bottom: none;
}
#main_grid table.weeklist td.windowbg
{
	text-align: center;
	height: 49px;
	width: 25px;
	font-size: large;
	padding: 0 7px;
	border-bottom: 2px solid #fff;
}
#main_grid table.weeklist td.weekdays
{
	height: 49px;
	width: 100%;
	padding: 4px;
	text-align: left;
	vertical-align: middle;
	border-bottom: 2px solid #fff;
}
#main_grid h3.weekly
{
	text-align: center;
	padding-left: 0;
	font-size: large;
	height: 29px;
}
#main_grid h3 span.floatleft, #main_grid h3 span.floatright
{
	display: block;
	font-weight: bold;
}
#main_grid table th.days
{
	width: 14%;
	padding: 4px 0;
}
#main_grid table.weeklist h4.titlebg
{
	margin: 0 0 0 0;
	height: 23px;
	line-height: 27px;
}
#main_grid table td.weeks
{
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	font-size: large;
}
#main_grid table td.days
{
	vertical-align: top;
	text-align: center;
}

a.modify_event
{
	color: red;
}

span.hidelink
{
	font-style: italic;
}

#calendar_navigation
{
	text-align: center;
}

/* Styles for the memberlist section.
------------------------------------------------- */
#mlist_search
{
	margin: auto;
	width: 500px;
}

/* Styles for the basic search section.
------------------------------------------------- */
#searchform, #simple_search p
{
	padding: 0.5em;
	margin: 0;
}
#simple_search, #simple_search p, #advanced_search
{
	text-align: center !important;
	margin: 0;
}
#search_error
{
	font-style: italic;
	padding: 0.3em 1em;
}
#search_term_input
{
	font-size: 115%;
	margin: 0 0 1em;
}

/* Styles for the advanced search section.
------------------------------------------------- */
#searchform fieldset
{
	text-align: left;
	padding: 0;
	border: none;
}
#advanced_search dl#search_options
{
	margin: 0 auto;
	width: 600px;
	padding-top: 1em;
	overflow: hidden;
}
#advanced_search dt
{
	clear: both;
	float: left;
	padding: 0.2em;
	text-align: right;
	width: 20%;
}
#advanced_search dd
{
	width: 75%;
	float: left;
	padding: 0.2em;
	margin: 0 0 0 0.5em;
	text-align: left;
}
#searchform p.clear
{
	clear: both;
}

/* Styles for the search results page.
------------------------------------------------- */
.topic_table td blockquote, .topic_table td .quoteheader
{
	margin: 0.5em;
}
.search_results_posts
{
	overflow: hidden;
}
.search_results_posts .buttons
{
	padding: 5px 1em 0 0;
}

/* Styles for the help section.
------------------------------------------------- */

#help_container
{
	margin: 4px 0 0 0;
	padding: 0 0 8px 0;
}
#helpmain
{
	padding: 0 1em;
}
#helpmain p
{
	margin: 0 0 1.5em 0;
	line-height: 1.5em;
}
#helpmain ul
{
	line-height: 1.5em;
}

/* Styles for print media.
------------------------------------------------------- */
@media print
{
	#headerarea
	{
		display: none;
	}

	.tborder
	{
		border: none;
	}
}

.sh_border
{
	border-color: transparent rgba(0, 85, 128, 0.6) #7b94a4;
	border-width: 0 1px 2px;
	border-style: solid;
}

.top_bar
{
	background: #0099e5;
	background: -moz-linear-gradient(top, #0099e5 30%, #0074ad 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#0099e5), color-stop(100%,#0074ad));
	background: -webkit-linear-gradient(top, #0099e5 30%,#0074ad 100%);
	background: -o-linear-gradient(top, #0099e5 30%,#0074ad 100%);
	background: -ms-linear-gradient(top, #0099e5 30%,#0074ad 100%);
	background: linear-gradient(to bottom, #0099e5 30%,#0074ad 100%);
	padding: 0;
	height: 35px;
	line-height: 35px;
	color: #04557e;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}
.top_bar_inner
{
	margin: 0 auto;
}

.toolbar {
	color: #fff;
}


.user_info
{
	float: left;
	width: 200px;
}
.avatar_drop
{
	width: 25px;
	height: 25px;
	vertical-align: middle;
	float: left;
	border-radius: 100%;
	padding: 2px;
	background-color: #e0f2fb;
	margin-top: 2px;
}
.nav-bar .nav-bar-inner
{
	float: left;
}
.usermenu
{
	float: left;
	margin-top: 0px;
}
.nav-bar .nav-bar-inner > ul.usermenu
{
    display: block !important;
}
.nav-bar .nav-bar-inner > ul.usermenu
{
    margin-right:0;
	list-style:none;
	padding:0;
	margin:0;
}
.nav-bar .nav-bar-inner > ul.usermenu >li
{
    display:block;
	float:left;
	position:relative;
	padding: 0;
	line-height: 10px;
	height: 15px;
}
.nav-bar .nav-bar-inner .dropdown
{
    margin-right: 20px !important;
}
.nav-bar .nav-bar-inner > ul.usermenu > li span.name
{
    display:block;
	float:left;
	color:#ededed;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
	font-size:14px;
	text-align: left;
	text-decoration: none;
	cursor: pointer;
	height: 15px;
	background: url(../images/md/name_arrow.png) no-repeat right;
	padding-right: 20px;
	line-height: 32px;
}
.nav-bar .nav-bar-inner > ul.usermenu > li span.move_name
{
	margin-left: 6px;
}
.nav-bar .nav-bar-inner > ul.usermenu > li ul.dropdown-menu
{
    z-index:10000000000;
	right: 0;
}
.dropdown-menu
{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
	margin-top: 20px;
    list-style: none;
    top: 15px;
	left: 0;
    z-index: 10000000;
    float: right;
	border-left: 1px solid rgba(0, 85, 128, 0.6);
	border-right: 1px solid rgba(0, 85, 128, 0.6);
	border-bottom: 1px solid rgba(0, 85, 128, 0.6);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    width: 220px;
    padding: 0;
    display: none;
}
.dropdown-menu a 
{
  font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0.01em;
  line-height: 13pt;
  color: #7B7B7B !important;
  display: block;
  width: 160px;
  padding: 3px 20px;
  white-space: nowrap;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-menu a:hover {
	color: #303030 !important;
	text-decoration: none;
}
.dropdown-menu li {
  display: list-item;
  line-height: 20px;
  border-bottom: 1px solid rgba(153,153,153,0.5);
  padding: 2px 0;
}
.nav-bar .nav-bar-inner>ul.usermenu>li ul.dropdown-menu li a
{
    display:block;
	float:none;
	color:#d54e21;
	padding:3px 10px
}

@media screen and (min-width: 1024px) {
.menu,
.menu ul,
.menu li,
.menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
 
.menu {
    height: 50px;
	border-width: 5px 1px 1px;
	border-style: solid;
	border-color: #0074AE rgba(0, 85, 128, 0.6) rgba(0, 85, 128, 0.02);
	background-color: #eaf5fa;
}
 
.menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
	height: 50px;
}
.menu li a {
    display: block;
    padding: 0;
    line-height: 50px;
    text-decoration: none; 
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 13px;
    color: #7b94a4; 
    transition: color .2s ease-in-out;
}
.menu li a.active, .menu li a:active, .menu li a.active:hover
{
	color: #0099E5;
}
.menu li a span
{
	display: block;
	height: 40px;
	line-height: 50px;
	position: relative;
	padding: 0 15px;
}
.menu li a.active span, .menu li a.active:hover span
{
	border-top: 5px solid #0099E5;
	margin-top: -5px;
}
.menu li a.active span:after, .menu li a.active:hover span:after {
	border-color: #0099E5 transparent;
	border-style: solid;
	border-width: 8px 7px 0;
	content: "";
	display: inline-block;
	position: absolute;
	margin: 0 auto;
	top: 0px;
	right: 0;
	left: 0;
	z-index: 1;
	width: 0;
}
.menu li a:hover span
{
	border-top: 5px solid #0074AE;
	margin-top: -5px;
}
.menu li a:hover span:after {
	border-color: #0074AE transparent;
	border-style: solid;
	border-width: 8px 7px 0;
	content: "";
	display: inline-block;
	position: absolute;
	margin: 0 auto;
	top: 0px;
	right: 0;
	left: 0;
	z-index: 1;
	width: 0;
}
 
.menu li:hover > a { color: #0074AE; }
.menu ul {
    position: absolute;
    top: 48px;
    left: 10px;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.9);
	z-index: 100000;
    transition: opacity .25s ease .1s;
	border-width: 3px 1px 1px;
	border-style: solid;
	border-color: #0074AE rgba(0, 85, 128, 0.6) rgba(0, 85, 128, 0.6);
}
 
.menu li:hover > ul { opacity: 1; }
 
.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: height .25s ease .1s;
	border-bottom: 1px solid rgba(153,153,153,0.5);
}
 
.menu li:hover > ul li {
    height: 32px;
    overflow: visible;
    padding: 0;
}
.menu ul li a {
    width: 200px;
    padding: 4px 10px;
    margin: 0;
	height: 32px;
	line-height: 27px;
    border: none;
	font-weight: normal;
}
.menu ul li a:hover
{
	color: #333;
}
 
.menu ul li:last-child a { border: none; }

.menu_responsive a#pull {
	display: none;
}
.menu_responsive
{
	display: none;
}

}

@media screen and (max-width: 1024px) {

.menu
{
	display: none;
}

.menu_responsive {
		border-bottom: 0;
		display: block;
		padding: 0 20px;
		height: 50px;
		border-width: 5px 1px 1px;
		border-style: solid;
		border-color: #0074AE rgba(0, 85, 128, 0.6) rgba(0, 85, 128, 0.02);
		background-color: #eaf5fa;
	}
	span.menu_t
	{
		font-weight: bold;
		color: #0074AE;
		font-size: 14px;
		float: left;
		line-height: 50px;
	}
	.menu_responsive ul {
		display: none;
		height: auto;
		position: absolute;
		margin: 50px auto 0 !important;
		border-width: 3px 1px 1px;
		border-style: solid;
		border-color: #0074AE rgba(0, 85, 128, 0.6) rgba(0, 85, 128, 0.6);
		z-index: 1000000;
		left: 0;
		right: 0;
	}
	.menu_responsive li {
		display: block;
		float: none;
		background-color: rgba(255,255,255,0.9);
		text-align: left;
		height: 35px;
		line-height: 35px;
		width: 100%;
	}
	.menu_responsive li a {
		//color: #ddd;
		color: #7B94A4;
		text-decoration: none;
		width: 100%;
		padding: 10px 360px 10px 20px;
		height: 35px;
	}
	.menu_responsive a#pull {
		display: block;
		width: 100%;
		position: relative;
		color: #7b94a4;
		font-family: Helvetica,Arial,sans-serif;
		font-size: 25px;
		font-weight: bold;
		line-height: 60px;
		text-decoration: none;
		text-align: right;
		float: right;
		margin-top: -35px;
	}
	.menu_responsive a:hover
	{
		text-decoration: none;
	}

}

.date_post
{
	background-color: rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	border-radius: 3px;
	clear: both;
	color: #aaa;
	height: 25px;
	line-height: 25px;
	padding: 0 8px;
}
.date_post span
{
    float: right;
	font-weight: bold;
}
.date_post div
{
    float: left;
}
#manage_boards li
{
	border: 1px solid rgba(0, 85, 128, 0.20) !important;
}

/** Social Nav **/
#quicknav {
	float: right;
	margin: 3px 0 0;
}
#quicknav ul {
	float: left;
	margin: 0;
	padding: 0;
	line-height: 40px;
}
#quicknav li {
	float: left;
	padding: 0;
	list-style: none;
	padding-left: 5px;
}
#quicknav .social_icon {
	display: block;
	background: url(../images/md/social.png) no-repeat;
	height: 25px;
	width: 32px;
	padding: 0;
	border-radius: 100%;
}
#quicknav a.twitter {

	background-position: 0 -30px;
}
#quicknav a.facebook {
	background-position: -30px -30px;
}
#quicknav a.youtube {
	background-position: -60px -30px;
}
#quicknav a.rss {
	background-position: -85px -30px;
}
#quicknav a.twitter:hover {
	background-position: 0 1px;
}
#quicknav a.facebook:hover {
	background-position: -30px 1px;
}
#quicknav a.youtube:hover {
	background-position: -60px 1px;
}
#quicknav a.rss:hover {
	background-position: -85px 1px;
}

.cfst:before, .cfst:after{
    content:"";
    display:table;
}
 
.cfst:after{
    clear:both;
}
 
/* Form wrapper styling */
.sb-wrapper {
    width: auto;
    padding: 7px;
    margin: 5px 15px 0;
	float: right;
    background: rgba(255,255,255,.1);
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.2) inset, 0 1px 0 rgba(255,255,255,.2);
}
 
/* Form text input */
 
.sb-wrapper input {
    width: 100px;
    height: 13px !important;
    padding: 6px 5px;
    float: left;   
    font: bold 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: rgba(10,20,45,0.1);
    border-radius: 3px 0 0 3px;    
	transition: all 0.2s ease-in-out 0.2s; 
}
 
.sb-wrapper input:focus {
    outline: none;
    background: #fff;
	width: 170px;
	transition: all 0.2s ease-in-out 0.2s; 
}
 
.sb-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.sb-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.sb-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}   
 
/* Form submit button */
.sb-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 1px 8px;
    cursor: pointer;
    height: 25px;
    width: auto;
    font: bold 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #0080C0;
    border-radius: 0 3px 3px 0;     
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  
   
.sb-wrapper button:hover{    
    background: #208dc4;
}  
   
.sb-wrapper button:active,
.sb-wrapper button:focus{  
    background: #208dc4;
    outline: 0;  
}
 
.sb-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #0080C0 transparent;
    top: 5px;
    left: -7px;
}
 
.sb-wrapper button:hover:before{
    border-right-color: #208dc4;
}
 
.sb-wrapper button:focus:before,
.sb-wrapper button:active:before{
        border-right-color: #208dc4;
}     
 
.sb-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    



/* header */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(/css/PTSerif.ttf) format('truetype');
}
.navbar {

    margin-bottom: 20px;
    overflow: visible;
    font-family: 'PT Serif', serif;

}
.navbar-inverse .navbar-inner {
    background-color: #1B1B1B;
    background-image: linear-gradient(to bottom, #222, #111);
    background-repeat: repeat-x;
    border-color: #252525;
}
.navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFF, #F2F2F2);
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
}
.navbar .container {

    width: auto;

}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {

    width: 1170px;

}
.container {

    margin-right: auto;
    margin-left: auto;

}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {

    width: 940px;

}
.navbar-inverse .brand {

    color: #999;

}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {

    color: #999;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;

}
.navbar .brand {

    display: block;
    float: left;
    padding: 12px 20px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #777;
    text-shadow: 0px 1px 0px #FFF;

}
.navbar .nav {

    position: relative;
    left: 0px;
    display: block;
    margin: 0px 10px 0px 0px;

}
.nav {

    margin-bottom: 20px;
    margin-left: 0px;
    list-style: outside none none;

}
.navbar-search {

    position: relative;
    float: left;
    margin-top: 5px;
    margin-bottom: 0px;

}
.navbar .nav > li {

    float: left;
    line-height: 20px;

}
.navbar .nav > li > a {
    float: none;
    padding: 10px 15px;
    color: #777;
    text-decoration: none;
    font-size: 14px;
}
.nav > li > a {
    display: block;
}
.navbar .nav > li > a:hover {
    color: #FFF;
}
.navbar-inverse .navbar-search .search-query {
    color: #FFF;
    background-color: #515151;
    border-color: #111;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset, 0px 1px 0px rgba(255, 255, 255, 0.15);
    transition: none 0s ease 0s;
}
.navbar-search .search-query {
    padding: 4px 14px;
    margin-bottom: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    border-radius: 15px;
}
input.span3, textarea.span3, .uneditable-input.span3 {
    width: 256px;
}
input.search-query {
    padding-right: 14px;
    padding-left: 14px;
    margin-bottom: 0px;
    border-radius: 15px;
}
input.span3, textarea.span3, .uneditable-input.span3 {
    width: 206px;
}
input[type="search"] {
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
input[type="search"] {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
}
input[type="search"] {
    box-sizing: content-box;
}
.pull-right {

    float: right;

}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    color: #555;
    text-decoration: none;
    background-color: #E5E5E5;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.125) inset;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #999;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    color: #FFF;
    background-color: #111;
}
